.table_container{
    display: flex;
    justify-content: center; 
}

caption{
    font-style: italic;
    text-decoration: underline;
    padding: 8px;
    text-align: left;
}

table{
    width: 80%;  
    margin: 0% 5%;
    table-layout: fixed;
    border-collapse: collapse;

}

td,th{
    text-align: center;
}

h4{
    padding: 3%;
    font-size: 20px;
}

.contact_info{
    display: flex;
    justify-content: space-between;
}
.emphasis{
    font-weight: bold;
}

section p{
    padding: 2% 5%;
}

table, tr, th, td{
    border: 2px solid #111010;
    background-color: #e9e9e9;
}

th{
    padding: 2%;
    background-color: #6f6f6f;
    color: #fbfbfb;
}

.map iframe{
    width: 100%;
    height: auto;
    border: none;
    display: block;
}
